---
import Search from "@astrojs/starlight/components/Search.astro";
import config from "virtual:starlight/user-config";
import SiteTitle from "./SiteTitle.astro";
---

<div class="header">
  <div class="title-wrapper sl-flex">
    <SiteTitle />
  </div>
  <div class="search-wrapper sl-flex print:hidden">
    {config.pagefind && <Search />}
  </div>
  <div class="sl-flex print:hidden right-group">
    <a
      href="https://app.openstatus.dev"
      target="_blank"
      rel="noopener noreferrer"
      class="cta"
    >
      Get started
    </a>
  </div>
</div>

<style>
  @layer starlight.core {
    .header {
      display: flex;
      gap: var(--sl-nav-gap);
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    .title-wrapper {
      overflow: clip;
      padding: 0.25rem;
      margin: -0.25rem;
      min-width: 0;
    }

    .right-group {
      gap: 1rem;
      align-items: center;
    }

    .search-wrapper {
      justify-content: center;
    }

    @media (min-width: 50rem) {
      :global(:root[data-has-sidebar]) {
        --__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
      }
      :global(:root:not([data-has-toc])) {
        --__toc-width: 0rem;
      }
      .header {
        --__sidebar-width: max(
          0rem,
          var(--sl-content-inline-start, 0rem) - var(--sl-nav-pad-x)
        );
        --__main-column-fr: calc(
          (
              100% + var(--__sidebar-pad, 0rem) -
                var(--__toc-width, var(--sl-sidebar-width)) -
                (2 * var(--__toc-width, var(--sl-nav-pad-x))) -
                var(--sl-content-inline-start, 0rem) - var(--sl-content-width)
            ) / 2
        );
        display: grid;
        grid-template-columns:
          minmax(
            calc(
              var(--__sidebar-width) +
                max(0rem, var(--__main-column-fr) - var(--sl-nav-gap))
            ),
            auto
          )
          1fr
          auto;
        align-content: center;
      }
    }
  }

  .right-group .cta {
    color: hsl(var(--foreground));
    text-decoration: underline;
    text-decoration-color: hsl(var(--muted-foreground) / 0.5);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    transition: all 0.15s ease;
  }
  .right-group .cta:hover {
    text-decoration-color: hsl(var(--muted-foreground));
  }
</style>
