---
import { Image } from "astro:assets";
import logo from "../assets/icon.png"; // Image is 1600x900
---


<a href="/" class="flex items-center gap-2 font-bold no-underline text-lg font-mono">
    <Image
      src={logo}
      alt="openstatus"
      height={30}
      width={30}
      class="rounded-full border border-border bg-transparent "
    />
    openstatus
</a>
