@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --font-cal: "calsans", "sans-serif";
  --font-mono: 'CommitMono', 'sans-serif';
  --font-sans: 'Inter', 'sans-serif';
}

@layer base {
  @font-face {
    font-family: 'calsans';
    src: url('/fonts/CalSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'CommitMono';
    src:
        url('/fonts/CommitMono-400-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'CommitMono';
    src:
        url('/fonts/CommitMono-700-Regular.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
}

@layer base {
    h1 {
        letter-spacing: var(--tracking-tight);
    }
    h2 {
        letter-spacing: var(--tracking-tighter);
    }


    :root[data-theme='light'] {
      --background: oklch(1 0 0);
      --foreground: oklch(0.145 0 0);

      --muted: oklch(0.97 0 0);
      --muted-foreground: oklch(0.556 0 0);

      --popover: oklch(1 0 0);
      --popover-foreground: oklch(0.145 0 0);

      --card: oklch(1 0 0);
      --card-foreground: oklch(0.145 0 0);

      --border: oklch(0.922 0 0);
      --input: oklch(0.922 0 0);

      --primary: oklch(0.205 0 0);
      --primary-foreground: oklch(0.985 0 0);

      --secondary: oklch(0.97 0 0);
      --secondary-foreground: oklch(0.205 0 0);

      --accent: oklch(0.97 0 0);
      --accent-foreground: oklch(0.205 0 0);

      --destructive: oklch(0.577 0.245 27.325);

      --ring: oklch(0.708 0 0);

      --radius: 0;

      /** Chart Colors */
      --chart-1: oklch(0.646 0.222 41.116);
      --chart-2: oklch(0.6 0.118 184.704);
      --chart-3: oklch(0.398 0.07 227.392);
      --chart-4: oklch(0.828 0.189 84.429);
      --chart-5: oklch(0.769 0.188 70.08);

      /* Status Tracker Colors - Radix Color */
      --status-degraded: 50 100% 52%; /* Amber 10 */
      --status-operational: 131 39% 51%; /* Grass 10 */
      --status-down: 11 82% 59%; /* Tomato 10 */
      --status-monitoring: 210 100% 62%; /* Blue 10 */
    }

    :root {
      --background: oklch(0.145 0 0);
      --foreground: oklch(0.985 0 0);

      --muted: oklch(0.269 0 0);
      --muted-foreground: oklch(0.708 0 0);

      --popover: oklch(0.205 0 0);
      --popover-foreground: oklch(0.985 0 0);

      --card: oklch(0.205 0 0);
      --card-foreground: oklch(0.985 0 0);

      --border: oklch(1 0 0 / 10%);
      --input: oklch(1 0 0 / 15%);

      --primary: oklch(0.922 0 0);
      --primary-foreground: oklch(0.205 0 0);

      --secondary: oklch(0.269 0 0);
      --secondary-foreground: oklch(0.985 0 0);

      --accent: oklch(0.269 0 0);
      --accent-foreground: oklch(0.985 0 0);

      --destructive: oklch(0.704 0.191 22.216);

      --ring: oklch(0.556 0 0);

      /* Chart Colors */
      --chart-1: oklch(0.488 0.243 264.376);
      --chart-2: oklch(0.696 0.17 162.48);
      --chart-3: oklch(0.769 0.188 70.08);
      --chart-4: oklch(0.627 0.265 303.9);
      --chart-5: oklch(0.645 0.246 16.439);

      /* Status Tracker Colors - Radix Color */
      --status-degraded: 50 100% 52%; /* Amber 10 */
      --status-operational: 131 39% 51%; /* Grass 10 */
      --status-down: 11 82% 59%; /* Tomato 10 */
      --status-monitoring: 210 100% 62%; /* Blue 10 */

    }
  }

/* https://ui.shadcn.com/colors */

/* Dark mode colors. */
:root {
	--sl-color-accent-low: oklch(0.205 0 0);
	--sl-color-accent: oklch(0.985 0 0);
	--sl-color-accent-high: oklch(0.97 0 0);
	--sl-color-white: oklch(0.985 0 0);
	--sl-color-gray-1: oklch(0.97 0 0);
	--sl-color-gray-2: oklch(0.708 0 0);
	--sl-color-gray-3: oklch(0.556 0 0);
	--sl-color-gray-4: oklch(0.439 0 0);
	--sl-color-gray-5: oklch(0.269 0 0);
	--sl-color-gray-6: oklch(0.205 0 0);
	--sl-color-black: oklch(0.145 0 0);
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: oklch(0.97 0 0);
	--sl-color-accent: oklch(0.205 0 0);
	--sl-color-accent-high: oklch(0.145 0 0);
	--sl-color-white: oklch(0.145 0 0);
	--sl-color-gray-1: oklch(0.205 0 0);
	--sl-color-gray-2: oklch(0.439 0 0);
	--sl-color-gray-3: oklch(0.556 0 0);
	--sl-color-gray-4: oklch(0.708 0 0);
	--sl-color-gray-5: oklch(0.87 0 0);
	--sl-color-gray-6: oklch(0.97 0 0);
	--sl-color-gray-7: oklch(0.985 0 0);
	--sl-color-black: oklch(1 0 0);
}
