openapi: 3.1.0
info:
  description: OpenStatus is a open-source status page platform with global uptime monitoring.
    The OpenStatus API allows you to interact with the OpenStatus platform programmatically.
    To get started you need to create an account on https://www.openstatus.dev/ and create an api token in your settings.
    Requests are rate limited per API key or token (600 per minute, 100 per 10 seconds); exceeding a limit returns HTTP 429 with a Retry-After header.
    See https://www.openstatus.dev/docs/reference/api-rate-limits.
  title: OpenStatus API
  version: v2.0.0
  contact:
    email: ping@openstatus.dev
    url: https://www.openstatus.dev
servers:
  - url: https://api.openstatus.dev
    description: Production
externalDocs:
  description: OpenStatus Documentation
  url: https://www.openstatus.dev/docs
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-openstatus-key
  responses:
    RateLimited:
      description: Rate limit exceeded (Connect code resource_exhausted). Retry after the number of seconds in the Retry-After header. See https://www.openstatus.dev/docs/reference/api-rate-limits.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
            example: 7
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/connect.error'
security:
  - ApiKeyAuth: []
tags:
  - name: MonitorService
    description: |
      Create, update, delete, and query monitors. Supports HTTP, TCP, and DNS monitor types
      with configurable check intervals, regions, assertions, and alerting thresholds.
  - name: StatusPageService
    description: |
      Manage public status pages with components, component groups, and email subscribers.
      Includes endpoints for retrieving full page content and aggregated status.
  - name: NotificationService
    description: |
      Configure notification channels (Slack, Discord, PagerDuty, email, webhooks, etc.)
      and associate them with monitors. Supports 12 notification providers.
  - name: StatusReportService
    description: |
      Create and manage incident reports with status updates. Reports follow a lifecycle:
      investigating -> identified -> monitoring -> resolved.
  - name: MaintenanceService
    description: |
      Schedule maintenance windows for status page components. Subscribers can be
      notified automatically when maintenance is created.
  - name: HealthService
    description: Health check endpoint for load balancer probes. No authentication required.
