@import 'tailwindcss';
@import '@openstatus/ui/globals';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/container-queries';

@source '../../../../packages/ui/**/*.{ts,tsx}';
@source '../../node_modules/@openstatus/react/**/*.{js,ts,jsx,tsx}';

@theme {
  --color-sh-class: var(--sh-class);
  --color-sh-identifier: var(--sh-identifier);
  --color-sh-sign: var(--sh-sign);
  --color-sh-string: var(--sh-string);
  --color-sh-keyword: var(--sh-keyword);
  --color-sh-comment: var(--sh-comment);
  --color-sh-jsxliterals: var(--sh-jsxliterals);
  --color-sh-property: var(--sh-property);
  --color-sh-entity: var(--sh-entity);

  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-cal: var(--font-calsans);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --sh-class: #2d5e9d;
    --sh-identifier: #354150;
    --sh-sign: #8996a3;
    --sh-string: #007f7a;
    --sh-keyword: #e02518;
    --sh-comment: #a19595;
    --sh-jsxliterals: #6266d1;
    --sh-property: #e25a1c;
    --sh-entity: #e25a1c;
  }

  .dark {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }

  .dark [data-theme='dark'] {
    display: block;
  }

  [data-theme='dark'] {
    display: none;
  }

  [data-theme='light'] {
    display: block;
  }

  .dark [data-theme='light'] {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Typography */

::selection {
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
}

.prose {
  @apply text-foreground/80;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply text-foreground underline transition-all decoration-muted-foreground/50 underline-offset-2 decoration-2 hover:decoration-muted-foreground;
}

.prose .anchor:after {
  @apply text-muted-foreground;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply relative bg-muted overflow-x-auto border border-border py-2.5 px-3.5 text-sm rounded-none;
}

.prose code {
  @apply px-1 py-0.5 bg-muted text-muted-foreground;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 leading-7;
}

.prose h1 {
  @apply text-3xl text-foreground font-medium tracking-tight my-4 relative;
}


.prose h2 {
  @apply text-2xl text-foreground font-medium tracking-tight my-4 relative;
}

.prose h3 {
  @apply text-xl text-foreground font-medium tracking-tight my-4 relative;
}

.prose h4 {
  @apply text-lg text-foreground font-medium tracking-tight my-4 relative;
}

.prose hr {
  @apply my-4 border-border;
}

.prose strong {
  @apply text-foreground font-semibold;
}

.prose blockquote {
  @apply border-l-2 border-foreground/50 pl-4;
}

.prose blockquote p::before {
  content: '"';
  @apply text-muted-foreground;
}

.prose blockquote p::after {
  content: '"';
  @apply text-muted-foreground;
}

.prose figure {
  @apply my-4;
}

.prose figure img {
  @apply aspect-video object-cover border border-border;
}

.prose figure figcaption {
  @apply text-sm text-muted-foreground not-empty:mt-1;
}

.prose em {
  @apply text-foreground italic;
}

.prose ul {
  list-style-type: "- ";
  @apply list-inside marker:text-muted-foreground;
}

.prose ol {
  @apply list-inside list-decimal marker:text-muted-foreground;
}

.prose li {
  @apply leading-7;
}

.prose details {
  @apply border border-border p-4 my-4;
}

.prose details p:last-child {
  @apply mb-0;
}

.prose details summary {
  @apply cursor-pointer font-medium text-foreground select-none;
}

.prose details summary:hover {
  @apply bg-muted;
}

.prose details summary::marker {
  @apply mr-1;
}

.prose details[open] summary {
  @apply mb-2;
}

.prose form {
  @apply my-4;
}

.prose form label {
  @apply text-foreground font-medium;
}

/* Wrapper for scrollable tables */
.prose .table-wrapper {
  @apply w-full overflow-x-auto my-4;
}

.prose table {
  @apply w-full border-collapse border border-border text-foreground;
}

.prose table th {
  @apply font-medium bg-muted/50 p-4 text-left border border-border;
}

.prose table td {
  @apply font-normal p-4 border border-border;
}

.prose table caption {
  @apply text-muted-foreground text-sm caption-bottom mt-4;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.title {
  text-wrap: balance;
}