/* span entire width */
pre > code {
  display: grid;
}

.prose pre {
  margin: 0;
  padding: 0;
}

div[data-rehype-pretty-code-fragment] {
  overflow: hidden;

  /* stylist preferences */
  background-color: var(--muted-foreground);
  border-radius: 0.5rem;
  width: 100%;
  margin: 1rem 0;
}

div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;

  /* stylist preferences */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  @apply text-xs sm:text-sm lg:text-base;
}

div[data-rehype-pretty-code-title] {
  /* stylistic preferences */
  margin-bottom: 0.125rem;
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 0.75rem;
  line-height: 1rem;
}

div[data-rehype-pretty-code-fragment] .line {
  /* stylistic preferences */
  padding-left: 0.5rem;
  padding-right: 0.75rem;

  border-left-width: 4px;
  border-left-color: transparent;
}

div[data-rehype-pretty-code-fragment] .line--highlighted {
  border-left-color: var(--border);
  background-color: rgb(254 205 211 / 0.1);
}

/* https://rehype-pretty-code.netlify.app/#:~:text=%60%60%60-,Line%20numbers,-CSS%20counters%20can */
pre > code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  display: inline-block;
  text-align: right;

  /* stylistic preferences */
  margin-right: 0.75rem;
  width: 1rem;
}
