@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-rehype-pretty-code-title] {
  @apply -mb-5 ml-4 font-mono text-sm;
}

div[data-rehype-pretty-code-fragment] code {
  display: grid;
  counter-reset: line;
}

div[data-rehype-pretty-code-fragment] code .line {
  @apply border-l-2 border-transparent px-5 py-0;
}

div[data-rehype-pretty-code-fragment] code[data-line-numbers] .line::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-8 inline-block w-4 text-right text-gray-500;
}

div[data-rehype-pretty-code-fragment] code .word {
  @apply rounded bg-gray-100/50 p-1;
}

div[data-rehype-pretty-code-fragment] code .highlighted {
  @apply border-l-2 border-gray-500 bg-gray-100/25;
}

/* OVERWRITE prose-rem default */
/* div[data-rehype-pretty-code-fragment] pre {
  @apply px-0 py-5;
} */
